<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">
      <span class="fa fa-file-text-o"></span>
      Datos del registro
    </h3>
  </div>

  <div class="box-body">

    <div class="row">
      <div class="col-md-12">
        <dt>Patente:</dt>
        <dd><%= vehicle.plate %></dd>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <dt>Número de motor:</dt>
        <dd><%= vehicle.motor_number %></dd>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-12">
        <dt>Número de chasis:</dt>
        <dd><%= vehicle.chassis_number %></dd>
      </div>
    </div>

  </div>

</div>
