<header class="content-header">
  <h1>Crear un nuevo interesado
    <%= back_to_link 'Volver', buyers_path, 'pull-right' %>
  </h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>
