<header class="content-header">
  <h1>Crear un nuevo vehículo
    <%= back_to_link 'Volver', vehicles_path, 'pull-right' %>
  </h1>
</header>

<section class="content">
  <%= render 'form' %>
</section>
