.form-group .fake-label {
  height: 20px;
  margin-bottom: 5px;
}
.sidebar-toggle h3 {
  display: inline-block;
  margin: 0 0 0 10px;
  font-size: 18px;
}
.select2-container .select2-choice {
  height: 35px;
  line-height: 0.9;
}

.table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}

td.truncate {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tr.is-selected td {
  background-color: rgba(255,255,0, 0.3);
}

/* Estilo de link para volver atrás */
.return-back {
  font-size: 13px;

  a, a:hover {
    color: #777;
  }
}
