<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

      <%= side_link 'Inicio', root_path, 'home' %>

      <% if logged_in? %>
        <%= side_link 'Clientes', customers_path, 'users' %>
        <%= side_link 'Vehículos', vehicles_path, 'car' %>
      <% end %>

    </ul>

  </section>
</aside>
