<!-- User Account Menu -->
<li class="dropdown user">
  <!-- Menu Toggle Button -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <span> Test </span>
  </a>
  <ul class="dropdown-menu">

  </ul>
</li>

